<nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-family-code">
    <a class="navbar-item has-text-white" href="/home">
      <img src="/assets/images/logo_transparent.png" alt="site-logo" class="logo mx-2 my-1">
      <p>
        <strong class="is-size-4">E</strong>xpense.<strong class="is-size-4">R</strong>eimbursement.<strong class="is-size-4">S</strong>ystem.
      </p>
    </a>

    <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> -->
  </div>

  <div class="navbar-menu">
    <div class="navbar-start"></div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons is-family-code has-text-weight-bold">
          <a class="button is-dark" *ngIf="isLoggedIn() && isManager()" routerLink="/manager-home">
            View Reimbursements
          </a>
          <a class="button is-dark" *ngIf="isLoggedIn() && !isManager()" routerLink="/employee-home">
            View my requests
          </a>
          <a class="button is-dark" *ngIf="!isLoggedIn()" routerLink="/login">
            Login
          </a>
          <a class="button is-dark" *ngIf="isLoggedIn()" (click)="logout()">
            Logout
          </a>
          <a class="button is-dark" routerLink="/registration">
            Sign Up
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
