<section class="section has-text-centered">
  <div class="container has-text-black">
    <h1 class="is-family-code is-size-1 has-text-weight-bold">Welcome <span>{{firstName}}</span>!
      <i class="fa-regular fa-hand"></i>
    </h1>
  </div>
</section>

<section class="section is-family-code has-text-centered">
  <div class="container" style="width:70%">
    <div class="block">
      <h4 class="is-size-3 title mb-5">
        Reimbursement Table
      </h4>
    </div>
    <table aria-describedby="allReimbursements" class="table is-striped is-hoverable" id="dataTable">
      <thead class="is-size-5 has-background-dark">
        <tr>
          <th class="has-text-white has-text-centered py-4">Date</th>
          <th class="has-text-white has-text-centered py-4">Amount</th>
          <th class="has-text-white has-text-centered py-4">Description</th>
          <th class="has-text-white has-text-centered py-4">Author</th>
          <th class="has-text-white has-text-centered py-4">Resolver</th>
          <th class="has-text-white has-text-centered py-4">Resolved Date</th>
          <th class="has-text-white has-text-centered py-4">Type</th>
          <th class="has-text-white has-text-centered py-4">Receipt</th>
          <th class="has-text-white has-text-centered">
            <div class="dropdown is-hoverable">

              <div class="dropdown-trigger">

                <button class="button is-rounded is-dark has-text-weight-bold mb-3"
                        aria-haspopup="true"
                        aria-controls="dropdown-menu2"
                        (click)="getReimbursementByUser(userId)"
                >
                  <span>Status</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>

              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">

                  <a class="dropdown-item" (click)="getReimbursementByUser(userId)">
                    All
                  </a>
                  <hr class="dropdown-divider">
                  <a (click)="getReimbursementByUserAndStatus(status.id)" *ngFor="let status of statuses" class="dropdown-item">
                    {{ status.status }}
                  </a>

                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="!isFiltered" class="is-size-6 has-text-centered">
        <tr *ngFor="let reimbursementDto of reimbursementDtos">
          <td>{{reimbursementDto.timeSubmitted}}</td>
          <td>{{reimbursementDto.amount}}</td>
          <td>{{reimbursementDto.description}}</td>
          <td>{{reimbursementDto.author.username}}</td>
          <td *ngIf="reimbursementDto.resolver else noResolver">
            {{reimbursementDto.resolver.username}}
          </td>
          <ng-template #noResolver>
            <td>N/A</td>
          </ng-template>
          <td *ngIf="reimbursementDto.timeResolved else notResolved">
            {{reimbursementDto.timeResolved}}
          </td>
          <ng-template #notResolved>
            <td>N/A</td>
          </ng-template>
          <td>{{reimbursementDto.type.type}}</td>
          <td>
            <app-receipt-modal [modalReimbDto]="editData" *ngIf="modalService.openReceiptModal"></app-receipt-modal>
            <div class="button is-rounded" (click)="openReceiptModal(reimbursementDto)">View Receipt</div>
          </td>
          <td>{{reimbursementDto.status.status}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="isFiltered" class="is-size-6 has-text-centered">
        <tr *ngFor="let reimbursementDto of filteredData">
          <td>{{reimbursementDto.timeSubmitted}}</td>
          <td>{{reimbursementDto.amount}}</td>
          <td>{{reimbursementDto.description}}</td>
          <td>{{reimbursementDto.author.username}}</td>
          <td *ngIf="reimbursementDto.resolver else noResolver">
            {{reimbursementDto.resolver.username}}
          </td>
          <ng-template #noResolver>
            <td>N/A</td>
          </ng-template>
          <td *ngIf="reimbursementDto.timeResolved else notResolved">
            {{reimbursementDto.timeResolved}}
          </td>
          <ng-template #notResolved>
            <td>N/A</td>
          </ng-template>
          <td>{{reimbursementDto.type.type}}</td>
          <td>
            <app-receipt-modal [modalReimbDto]="editData" *ngIf="modalService.openReceiptModal"></app-receipt-modal>
            <div class="button is-rounded" (click)="openReceiptModal(reimbursementDto)">View Receipt</div>
          </td>
          <td>{{reimbursementDto.status.status}}</td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/addReimbursement">Add new reimbursement</a>
  </div>
</section>
