<section class="section has-text-centered">
  <div class="container has-text-black">
      <h1 class="is-family-code is-size-1 has-text-weight-bold">Welcome <span>{{firstName}}</span>! <i class="fa-regular fa-hand"></i></h1>
  </div>
</section>

<section class="section is-family-code has-text-centered">
  <div class="container" style="width:70%">
    <div class="block">
      <h4 class="is-size-3 title mb-5">
        Reimbursement Table
      </h4>
    </div>
    <table aria-describedby="allReimbursements" class="table is-striped is-hoverable" id="dataTable">
      <thead class="is-size-5 has-background-dark">
          <tr>
            <th class="has-text-white has-text-centered">Date</th>
            <th class="has-text-white has-text-centered">Amount</th>
            <th class="has-text-white has-text-centered">Description</th>
            <th class="has-text-white has-text-centered">Author</th>
            <!-- <th class="has-text-white has-text-centered">Resolver</th> -->
            <th class="has-text-white has-text-centered">Type</th>
            <th class="has-text-white has-text-centered">Receipt</th>
            <th>
              <div class="control has-icons-left">
                <div class="select is-rounded is-small">
                  <select #status (change)="filterByStatus(status.value)" name="status" id="select" class="has-text-weight-bold is-family-code has-text-centered">
                    <option value="All" selected="true">Status</option>
                    <option value="{{status}}" *ngFor="let status of statusArray">{{status}}</option>
                  </select>
                </div>
                <div class="icon is-small is-left">
                  <i class="fa-solid fa-thumbs-up"></i>
                </div>
              </div>
            </th>
          </tr>
      </thead>
      <tbody class="is-size-6">
          <tr *ngFor="let reimbursementDto of reimbursementDtos">
            <td>{{reimbursementDto.timeSubmitted}}</td>
            <td>{{reimbursementDto.amount}}</td>
            <td>{{reimbursementDto.description}}</td>
            <td>{{reimbursementDto.author.username}}</td>
            <!-- <td>{{reimbursementDto.resolver.username}}</td> -->
            <td>{{reimbursementDto.type.type}}</td>
            <td>
              <img mat-card-image src= "{{reimbursementDto.receipt}}" alt="No Picture"> </td>
            <td>{{reimbursementDto.status.status}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</section>
